// Variables

//Colour

$light-grey: #ccc;
$bg-navigation: #FF3900;
$nav-hover: #9D3900;
$nav-text-hover: #6B5757;
$close-nav-button: #FFB200;
$open-nav-button: #9D3900;
$background-slide: #F4A460;



// Text
$text-color: #FF3900;
$text-nav: #fff;
