
  <div id="my-footer">
  	<img class="logo-mobile-footer section1-3" src="images/logo-noah-white.svg" alt="logo-noah">

  	<h2 class="touch"> STAY IN TOUCH </h2>
  <br/>
  		<ul class="social">
				<li><a href="https://www.facebook.com/NOAH.Albinism"><span>Facebook</span></a></li>
				<li><a href="https://twitter.com/AlbinismCanada"><span>Twitter</span></a></li>
				<li><a href="http://community.albinism.org/blogs/"><span>Blog</span></a></li>
				<li><a href="https://www.youtube.com/user/NOAHAlbinism"><span>YouTube</span></a></li>
			</ul>
		<a id="donate" href="{{site.baseurl}}/donate.html" class="donatef {% if page.url == '/donate.html' %}current{% endif %}">
	    <img class="donatehere-footer" src="images/donate-orange.png" alt="donate-button">
	  </a>

</div>
<br/>
	<div class="copyright-1">National Organization for Albinism and Hypopigmentation<br/>
		PO Box 959, East Hampstead, NH 03826-0959<br/>
		<a href="tel:+800 473-2310">Phone: 800 473-2310 (US and Canada)</a><br/>  <a href="tel:+603 887-2310">Phone: 603 887-2310</a> Fax: 800-648-2310
	</div>
	<div class="copyright">©2015 All Rights Reserved NOAH</div>

