  <div id="my-footer">
  		<ul>
				<li><a href="https://www.facebook.com/NOAH.Albinism"><i class="icon-facebook"></i><span>Facebook</span></a></li>
				<li><a href="https://twitter.com/AlbinismCanada"><i class="icon-twitter"></i><span>Twitter</span></a></li>
				<li><a href="http://community.albinism.org/blogs/"><i class="icon-blog"></i><span>Blog</span></a></li>
				<li><a href="https://www.youtube.com/user/NOAHAlbinism"><i class="icon-youtube"></i><span>YouTube</span></a></li>
			</ul>
	</div>
	<strong>©2015 All Rights Reserved NOAH</strong>
