
  <div id="my-footer">
  	<img class="logo-mobile-footer section1-3" src="images/logo-noah-white.svg"></img>

  	<h2 class="touch"> STAY IN TOUCH </h2>
  </br>
  		<ul class="social">
				<li><a href="https://www.facebook.com/NOAH.Albinism"></i><span>Facebook</span></a></li>
				<li><a href="https://twitter.com/AlbinismCanada"></i><span>Twitter</span></a></li>
				<li><a href="http://community.albinism.org/blogs/"></i><span>Blog</span></a></li>
				<li><a href="https://www.youtube.com/user/NOAHAlbinism"><span>YouTube</span></a></li>
			</ul>
		<a class="donatef" id="donate" href="{{site.baseurl}}/donate.html" class="{% if page.url == '/donate.html' %}current{% endif %}">
	    <img class="donatehere-footer" src="images/donate-orange.png"></img>
	  </a>

</div>
	<div class="copyright">©2015 All Rights Reserved NOAH</div>

