.ul-nav-width li{
	list-style-type: none;
	font-family: 'futura' sans-serif;
	display: inline-block;
	padding: 1%;
	float: left;
	&:hover{
		background-color: red;
	}
}

  .ul-nav-width{
		float: right;
	}
a{
	text-decoration: none;
}

#full-width-menu{
	margin-top: -10px;
	position: fixed;
	width: 100%;
	background: #ff6600;
}

.logo{
	width: 200px;
	position: absolute;
	float: left;
	padding-right: 20px;
}

.main-photo{
	width: 100%;
}
