body {
	margin: 0;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	background-color: #fff;
}

header{
	@include clearfix-micro();
	background: transparent url("../images/angel.jpg") no-repeat  center;
  background-size: cover;
  height: 850px;
}

.ul-nav-width li{
	list-style-type: none;
	display: inline-block;
	font-weight: 300;
	padding: 8px;
	&:hover{
		background-color: rgba(218, 138, 11, 0.5);
	}
}

.ul-nav-width{
	float: right;
	padding-right: 5%;
}


// #my-menu{
// 	z-index: 999;
// 	// margin: 5%;
// }

#full-width-menu{
	margin-top: 0;
	position: absolute;
	width: 100%;
	display: none;

		a{
			color: #fff;
			text-decoration: none;
		}
	ul {
	  text-align: left;
	  display: inline;
	  margin: 0;
	  padding: 15px 4px 17px 0;
	  list-style: none;

	}
	ul li {
	  display: inline-block;
	  margin-right: -4px;
	  position: relative;
	  padding: 15px 20px;
	  cursor: pointer;
	  -webkit-transition: all 0.2s;
	  -moz-transition: all 0.2s;
	  -ms-transition: all 0.2s;
	  -o-transition: all 0.2s;
	  transition: all 0.2s;
	}
	ul li:hover {
	  background: #555;
	  color: #fff;
	}
	ul li ul {
	  padding: 0;
	  position: absolute;
	  top: 48px;
	  left: 0;
	  width: 150px;
	  -webkit-box-shadow: none;
	  -moz-box-shadow: none;
	  box-shadow: none;
	  display: none;
	  opacity: 0;
	  visibility: hidden;
	  -webkit-transiton: opacity 0.2s;
	  -moz-transition: opacity 0.2s;
	  -ms-transition: opacity 0.2s;
	  -o-transition: opacity 0.2s;
	  -transition: opacity 0.2s;
	}
	ul li ul li {
	  background: #555;
	  display: block;
	  color: #fff;
	  text-shadow: 0 -1px 0 #000;
	}
	ul li ul li:hover { background: #666; }
	ul li:hover ul {
	  display: block;
	  opacity: 1;
	  visibility: visible;
	}
	@media only screen and (min-width: 50em){
		display: inline-block;
	}

}

#my-button{
	position: absolute;
	right: 0;
	top: 0;
	z-index: 1000;
	@media only screen and (min-width: 50em){
		display: none;
	}
}


#top{
	display: block;
}
.logo{

	z-index: 999;
	width: 150px;
	float: left;
}


#my-menu .mm-list a.mm-subopen{
	right: 40px;
}


#my-menu{
		@media only screen and (min-width: 50em){
		display: none;
	}
}

/* ----------Section-1--------*/

.section-1{
	margin: 5%;
	h1{
		margin-top: 100px;
	border: red;
	}
	@include clearfix-micro();

}

.screen-1-3{
	width: 25%;
	height: auto;
	float: right;
	margin-top: 100px;
}

.screen-2-3{
	width: 55%;
	height: auto;
	float: left;
}


.image-2-3{
	width: 60%;
}

/* ----------Donate Button-----------*/

.donateContainer{
	position: relative;
	width: 207px;
  margin: -140px 100px 0 20px;
	z-index: 999;
}
.donate{
	margin: auto;
	position: relative;
	height: 82px;
	width: 160px;
	z-index: 2;
	display: block;
  }

  .donate-here{
  	width:50%;
  }
  .donate:hover + .rays {
    height: 200px;
    width: 200px;
    opacity: 1;
    margin-top: -105px;
    }
.rays{
	transform-origin:center;
	height: 50px;
	width: 50px;
	position: absolute;
  top: 50%; right: 0; left: 0; bottom: 0;
  margin: auto;
  margin-top: -30px;
	z-index: 1;
  opacity: 0;
  transition: .5s ease-out;
  animation: godrays 10s ease-in-out alternate infinite;
  }
@keyframes godrays{
	to {
		transform: rotate(360deg);
	}
}

.donate-footer{
	font-size: 2em;
	background-size: 200px;
	background-color: rgba(218, 138, 11, 0.5);
	margin-left: 5%;
	width: 160px;
	text-align: center;
	a{
		text-decoration: none;
		color: #fff;
	}
	&:hover{
		background-color: rgba(218, 138, 11, 1);
	}
}

/* ----------FOOTER-----------*/

footer{
	background-color: #3a3835;
	background: url("../images/footer-bg-dark_dotted.png");
	background-size: cover;
	padding: 40px 0px 20px 0px;
	li{
		list-style-type: none;
	margin: 5px;
	}
}

#my-footer a{
	color: #fff;
	font-size: 3em;
}

.touch{
	float: right;
	margin: -20px;
	font-size: 1em;
	font-weight: 400;
	padding-right: 10%;
	color: #fff;
}

.social{
	font-size: .3em;
	font-weight: 300;
	float: right;
	padding-right: 5%;
	a{
		text-decoration: none;
	}
	li{
		border: solid #fff 1px;
		display: inline-block;
		padding: 6px;
	&:hover{
		background-color: rgba(218, 138, 11, 0.5);
	}
	}
}

.copyright{
	font-weight: 300;
	color: #fff;
	font-size: .5em;
	text-align: center;
	margin-top: 60px;
}

