<!DOCTYPE html>
<html lang="en-ca">
<head>
  <meta charset="utf-8">
  <link href="{{site.baseurl}}/css/style.css" rel="stylesheet">
  <meta name="handheldfriendly" content="true">
  <meta name="mobileoptimized" content="240">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>NOAH Albinism Organization</title>
</head>
<body>
  <div>
	<header>

    {% include nav.html navid='my-menu' %}
    <a href="#menu" id="my-button">Menu</a>
    {% include nav.html navid='full-width-menu' %}
    <img class="main-photo" src="images/angel.jpg" alt="homeangel">
	</header>

  {{content}}

  <footer>
    {% include footer.html %}
  </footer>
</div>
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
  <script src="{{site.baseurl}}/js/jquery.mmenu.min.js" type="text/javascript"></script>
  <script type="text/javascript">
  $(function() {
    $('#my-menu').mmenu();
  });
  $(document).ready(function() {
  $("#my-menu").mmenu();
  $("#my-button").click(function() {
     $("#my-menu").trigger("open.mm");
  });
  });
  </script>
</body>
</html>
