<!DOCTYPE html>
<html lang="en-ca">
<head>
  <meta charset="utf-8">
  <link href="css/style.css" rel="stylesheet">
  <meta name="handheldfriendly" content="true">
  <meta name="mobileoptimized" content="240">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>NOAH Albinism Organization</title>
</head>
<body>
	<header>
		<strong>NOAH nav</strong>
		{% include nav.html %}
	</header>

  {{content}}

  <footer>
  	<strong>NOAH footer</strong>
  		<ul>
				<li><a href="https://www.facebook.com/NOAH.Albinism">Facebook</a></li>
				<li><a href="https://twitter.com/AlbinismCanada">Twitter</a></li>
				<li><a href="http://community.albinism.org/blogs/">Blog</a></li>
				<li><a href="https://www.youtube.com/user/NOAHAlbinism">You Tube</a></li>
			</ul>

</body>
</html>
