<!DOCTYPE html>
<html lang="en-ca">
<head>
  <meta charset="utf-8">
  <title>NOAH Albinism Organization</title>
</head>
<body>
	<header>
		<strong>NOAH nav</strong>
		<nav>
			<ul>
				<li><a href="index.html">Home</a></li>
				<li><a href="who.html">Who we are</a></li>
				<li><a href="albinism.html">Albinism</a></li>
				<li><a href="whats-going-on.html">What's Going On</a></li>
				<li><a href="get-involved.html">Get Involved</a></li>
				<li><a href="donate.html">Donate</a></li>
			</ul>
		</nav>
	</header>

  {{content}}

  <footer>
  	<strong>NOAH footer</strong>
  		<ul>
				<li><a href="https://www.facebook.com/NOAH.Albinism">Facebook</a></li>
				<li><a href="https://twitter.com/AlbinismCanada">Twitter</a></li>
				<li><a href="http://community.albinism.org/blogs/">Blog</a></li>
				<li><a href="https://www.youtube.com/user/NOAHAlbinism">You Tube</a></li>
			</ul>

</body>
</html>
